# common
.DS_Store
node_modules/
vendor/

# config
phpunit.xml
bower.json
gulp/dir.es6
.htaccess
.htpasswd
.htdigest
php.ini
config/ips.php
config/production.php
config/development.php
config/localhost.php
gulpfile.babel.js

# build files
yarn-error.log
bower.json.tmp
bower.json-e
package.json-e
npm-debug.log
.sass-cache
composer.phar
composer.lock
memory
logs
reports
cache/*
.phpunit.result.cache

# tests
js/*
dist/*
css/*
docs/*
spec/js/*
spec/dist/*

# for CPI
cgi-bin/
sys-common/

# gitkeep
!.gitkeep

# .htaccess
!.htaccess.sample
