# common
.DS_Store
node_modules/
vendor/

# config
phpunit.xml
.htaccess
.htpasswd
.htdigest
php.ini
config/ips.php
config/production.php
config/development.php
config/localhost.php

# build files
yarn-error.log
npm-debug.log
composer.phar
composer.lock
memory
logs
results
coverage
cache
.phpunit.result.cache

# for CPI
cgi-bin/
sys-common/

# gitkeep
!.gitkeep
