AddHandler x-httpd-php559 .php

<Limit GET POST PUT DELETE>
  Order deny,allow
  Allow from localhost
</Limit>

<ifModule mod_rewrite.c>
  RewriteEngine On
  # RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</ifModule>
