<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="./tests/bootstrap.php"
  processIsolation="false"
  >
  <testsuites>
    <testsuite>
      <directory>./tests/lib/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./lib/Hello</directory>
      <directory suffix=".php">./lib/Sample</directory>
      <directory suffix=".php">./lib/Config</directory>
      <exclude>
        <directory suffix="Interface.php">./lib</directory>
        <directory suffix="Skelton.php">./lib</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="./docs/reports" />
    <log type="coverage-clover" target="./logs/coverage.xml" />
  </logging>
</phpunit>
